/* results detail */
.position{
    justify-content: center;
}

@media only screen and (max-width: 440px) {
    .position{
        justify-content: center !important;
    }
  }

/* waring alert */
#warAlert{
    display: none;
}